.nav_button:hover{
    color: #FF7500;
    background-color: #FFF;
}

.nav_item:hover{
    color: #ff7500;
}
.likn_main_top:hover{
    color: #FF7500;
    background-color: #FFF;
}

.list_link_center:hover{
    color: #ff7500;
}